.container {
  display: flex;
  margin: 3rem;
  flex-direction: column;
  // align-items: center;
  min-height: 80vh;
  max-width: 80vw;
  padding-bottom: 1rem;
  .chat-messages {
    flex-grow: 1;
  }
  .chat-input {
    display: flex;
    padding: 0.3rem;
    min-height: 4rem;
    align-items: center;
    border: 1px solid rgb(217, 217, 227);
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    padding-right: 1rem;
    padding-left: 1rem;
      textarea {
        display: block;
        width: 100%;
        border: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-apperarance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        outline: none;
        padding: 0px;
        resize: none;
        width: 100%;
        overflow: hidden;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        font-size: 1rem;
        font-family: ui-sans-serif, system-ui;
      }
      button {
        // position: absolute;
        right: 1rem;
        bottom: 1rem;
        width: 2rem;
        height: 2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0.375rem;
        opacity: 0.4;
        span {
          svg {
            color: rgb(172, 172, 190);
          }
        }
      }
      button.active {
        background-color: rgb(25, 195, 125);
        opacity: 1;
        span {
          svg {
            color: rgb(255, 255, 255);
          }
        }
      }

  }
}
