div.main {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid rgb(217, 217, 227);
    font-family: ui-sans-serif, system-ui;
    font-size: 1rem;
    .icon {
        display: flex;
        align-content: center;
        vertical-align: center;
        border-radius: 0.1rem;
        padding: 0.5rem;
        color: white;
        background-color: rgb(25, 195, 125);
        margin-right: 1rem;
        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
    .message { 
        flex-grow: 1;
    }
    .controls {
        width: 2rem;
    }
}