div.main {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid rgb(217, 217, 227);
    font-family: ui-sans-serif, system-ui;
    font-size: 1rem;
    .icon {
        display: flex;
        align-content: center;
        vertical-align: center;
        border-radius: 0.1rem;
        padding: 0.5rem;
        color: white;
        background-color: rgb(25, 195, 125);
        margin-right: 1rem;
        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
    .text { 
        flex-grow: 1;
        pre {
            white-space: pre-wrap;       /* Since CSS 2.1 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }
    }
    .controls {
        width: 2rem;
    }
}